@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

/************/
/* Couleurs
/* Bleu : #1B5773;
/* Vert : #CEC68F;
/***************************/

/**
 ** COMMUN
*************************************/
h2, .title-h2 {
  padding: 5px 0;
  color: #1B5773;
  border-bottom: 1px solid #CEC68F;
}

body {
  color: #CEC68F; /* Vert */
  font-family: 'Oswald', sans-serif;
  background: url("/images/bg.jpg") center top fixed no-repeat;
  background-size: cover;
}

.content {
  min-height: 1000px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px #000;
}

.voir {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #1B5773;
  border: 1px solid #1B5773;
  transition: all .2s ease;
}
.voir:hover {
  color: #1B5773;
  background-color: #fff;
  text-decoration: none;
}


/**
 ** HEADER
*************************************/
.headline > span {
  display: block;
  text-align: center;
}

.headline .headline-l1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 3em;
}

.headline .headline-l2 {
  color: #1B5773;
  font-size: 1rem;
}

.headline-l1 > *:nth-child(odd) {
  color: #1B5773;
}

.headline-l1 > *:nth-child(even) {
  color: #CEC68F;
}

header {
  background-color: #fff;
}
header button {
  cursor: pointer;
}

.content {
  min-height: 1000px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px #000;
}

/**
 ** HEADER
*************************************/
.headline > span {
  display: block;
  text-align: center;
}

.headline .headline-l1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 3em;
}

.headline .headline-l2 {
  color: #1B5773;
  font-size: 1rem;
}

.headline-l1 > *:nth-child(odd) {
  color: #1B5773;
}

.headline-l1 > *:nth-child(even) {
  color: #CEC68F;
}

header {
  padding: 10px;
  background-color: #fff;
}

header button {
  cursor: pointer;
}

header .logo img {
  max-height: 100px;
}

/**
 ** MENU
*************************************/
nav {
  padding: 0;
  height: 100px;
  line-height: 100px;
  background-color: #1B5773; /* bleu */
  overflow: hidden;
}

nav ul {
  height: 100px;
  box-sizing: border-box;
}

nav li:hover {
  background-color: #CEC68F;
}

nav li:hover a {
  color: #1B5773;
  text-decoration: none;
}

nav .paypal {
  margin-left: auto;
}

nav .paypal img {
  max-height: 100%;
}

nav a {
  box-sizing: border-box;
  display: block;
  color: #CEC68F;
  transition: all .2s ease;
}

nav li {
  padding: 0 10px;
  transition: all .2s ease;
}

nav h3 {
  height: 100px;
  color: #CEC68F;
  display: block;
  margin-top:39%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

nav h3:hover {
  color: #1B5773;
  text-decoration: none;
}

.SousMenu{
  color: #CEC68F;
}

/**
 ** FOOTER
*************************************/
footer {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #1B5773;;
}

.content_article  {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text_align: center;
}

.form_article h2 {
  text-align: center;
}

.form_article button {
  margin-left: 48%;
}

#add{
  float: right;
  width: 10%;
  vertical-align: top;
}

.page404 { text-align: center; }

/**
 ** Liste des articles
*************************************/
.listArticle .article {
  margin: 10px 0;
}

.listArticle .article h2 a {
  color: inherit;
  text-decoration: none;
  transition: all .2s ease;
}

.listArticle .article h2 a:hover {
  color: #276e8f;
}

.listArticle .article .bottom {
  margin-top: 10px;
  text-align: right;
}

.listArticle .article .article-text {
  color: #777;
}
