@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

/************/
/* Couleurs
/* Bleu : #1B5773;
/* Or : #CEC68F;
/***************************/

/**
 ** COMMUN
*************************************/
h1, .title-h1 {
  margin-bottom: 40px;
  color: #1B5773;
  text-align: center;
  text-transform: uppercase;
}

h2, .title-h2 {
  padding: 5px 0;
  color: #1B5773;
  border-bottom: 1px solid #CEC68F;
}

body {
  color: #CEC68F; /* Vert */
  font-family: 'Oswald', sans-serif;
  background: url("/images/bg.jpg") center top fixed no-repeat;
  background-size: cover;
}

.content {
  min-height: 1000px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px #000;
}

.voir {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #1B5773;
  border: 1px solid #1B5773;
  transition: all .2s ease;
}
.voir:hover {
  color: #1B5773;
  background-color: #fff;
  text-decoration: none;
}

form {
  background-color: #91b5c6;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
}

form .boutonAction {
  text-align: center;
}

form .boutonAction input {
  color: #fff;
  background-color: #1B5773;
  border: 1px solid #1B5773;
  transition: all .2s ease;
}

form .boutonAction input:hover {
  color: #1B5773;
  background-color: #fff;
  border: 1px solid #1B5773;
}


.btn {
  cursor: pointer;
}

/**
 ** HEADER
*************************************/
header form { background-color: #fff; }

.headline > span {
  display: block;
  text-align: center;
}

.headline .headline-l1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 3em;
}

.headline .headline-l2 {
  color: #1B5773;
  font-size: 1rem;
}

.headline-l1 > *:nth-child(odd) {
  color: #1B5773;
}

.headline-l1 > *:nth-child(even) {
  color: #CEC68F;
}

header {
  padding: 10px;
  background-color: #fff;
}

header button {
  cursor: pointer;
}

header .logo img {
  max-height: 100px;
}

/**
 ** MENU
*************************************/
nav {
  padding: 0;
  height: 100px;
  line-height: 100px;
  background-color: #1B5773; /* bleu */

}

nav ul {
  height: 100px;
  box-sizing: border-box;
}

nav li:hover {
  background-color: #CEC68F;
}

nav li:hover a {
  color: #1B5773;
  text-decoration: none;
}

nav .paypal {
  margin-left: auto;
}

nav .paypal img {
  max-height: 100%;
}

nav a {
  box-sizing: border-box;
  display: block;
  color: #CEC68F;
  transition: all .2s ease;
}

nav li {
  padding: 0 10px;
  transition: all .2s ease;
}


/**
 ** FOOTER
*************************************/
footer {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #1B5773;;
}

.content_article  {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text_align: center;
}

.form_article h2 {
  text-align: center;
}

.form_article button {
  margin-left: 48%;
}

#add{
  float: right;
  width: 10%;
  vertical-align: top;
}

.page404 { text-align: center; }

/**
 ** Page d'accueil
*************************************/
.homepage section {
  margin: 20px 0;
}

.homepage .description { color: #777; }
.homepage .illustration { margin-bottom: 20px; }
.homepage .illustration img { max-width: 100%; }

.homepage .article { margin: 10px 0; padding: 10px; }
.homepage .article:nth-child(odd) {
  background-color: #eee;
 }

.homepage .bottom { text-align: right; }

.homepage h3 a {
  color: inherit;
  text-decoration: none;
 }

/**
 ** Liste des articles
*************************************/
.listArticle .article {
  margin: 10px 0;
}

.listArticle .article h2 a {
  color: inherit;
  text-decoration: none;
  transition: all .2s ease;
}

.listArticle .article h2 a:hover {
  color: #276e8f;
}

.listArticle .article .bottom {
  margin-top: 10px;
  text-align: right;
}

.listArticle .article .article-text,
.listArticle .article .description {
  color: #777;
}

/**
 ** Vue d'un article
*************************************/
.article-view .imgContainer { text-align: center; }
.article-view .description { color: #777; }
.article-view .informations {
  margin-top: 40px;
}
.article-view form { margin-bottom: .5rem; }
.article-view form input[type=submit] { margin-left: 10px; }


/**
 ** Formulaire de connexion
*************************************/
.form-connexion {
  width: 50%;
  margin: 0 auto;
}

/**
 ** Formulaire de connexion
*************************************/
#contactForm:not(.paypal) .montant { display: none; }
.contact .messageSent {
  display: none;
  padding: 20px;
  background-color: #1B5773;
}


/**
 ** Pagination
*************************************/

.pagination li{
	display: inline;
	padding: 6px 10px 6px 10px;
	border: 1px solid #ddd;
	margin-right: -1px;
	font: 15px/20px Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	box-shadow: inset 1px 1px 5px #F4F4F4;
}
.pagination li a{
    text-decoration:none;
    color: rgb(89, 141, 235);
}
.pagination li.first {
    border-radius: 5px 0px 0px 5px;
}
.pagination li.last {
    border-radius: 0px 5px 5px 0px;
}
.pagination li:hover{
	background: #CFF;
}
.pagination li.active{
	background: #F0F0F0;
	color: #333;
}
