@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

body {
  color: #333;
  background: url("/images/bg.jpg") center top fixed no-repeat;
  background-size: cover;
}

header { background-color: #fff; }
.headline > span {
  display: block;
  text-align: center;
}

.headline .headline-l1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 3em;
}

.headline .headline-l2 {
  font-size: 1rem;
}

.headline .jaune {
  color: #fbf406;
}

header button {
   cursor: pointer;
}

header .logo img {
    max-height: 100px;
}
/*
nav {
    position: relative;
    height: 50px;
    line-height: 50px;
}
*/
nav .paypal {
  margin-left: auto;
}
/*
nav .paypal img { 
    max-height: 100%; 
    padding: 5px;
}
*/  
.content {
    min-height: 1000px;
    background-color: #fff;
    box-shadow: 0 0 20px #000;
}

footer {
    text-align: center;
    border-top: 1px solid #333;
    background-color: #fff;
}

body > .content { padding: 10px; }

.page404 { text-align: center; }